* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.logo {
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 0%;
  /* width: 100%; */
}
.logo > label {
  color: white;
}
body {
  background-color: #f8f9fa !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
/* main {
  background-color: aliceblue;
} */
.albumexample {
  text-align: center;
  padding: 20px;
  background-color: white;
  margin: 0%;
  padding: 40px opx;
  float: center;
  /* width: 100%; */
}
.row {
  /* box-sizing: border-box; */
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;

  align-items: center;

  border: 2px solid black;
  /* justify-content: space-between; */
  justify-content: space-around;
  /* border: 2px solid black; */
  width: 100%;
  /* text-align: center; */
}
.card {
  /* height: 400px; */
  /* margin-right: 20px; */
  /* width: 26%; */
  padding: 0px;
  margin: 1.5rem;
  flex-basis: 26%;
  /* display: inline-block; */
  background-color: white;
  border: 1px solid lightgrey;
  /* background-color: aliceblue; */
  box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
}
ul {
  text-decoration: none;
  /* border: 5px white solid; */
  display: inline;
  float: right;
}
li {
  display: inline-block;
}
.call-button,
.secondary-btn {
  padding: 7px;
  font-size: 17px;
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}
.secondary-btn {
  background-color: grey;
}
/* .thumbnails {
  /* background-color: aliceblue; *
 */

.card p {
  /* pading: 10px; */
  margin: 30px 30px;
  /* border: 5px solid black; */
  font-size: 15px;
}
.image {
  width: 100%;
  height: 200px;
}
.button-group {
  display: inline-block;
}
.albumexample-para {
  display: Block;
  width: 40%;
  line-height: 25px;

  color: grey;
  font-size: 1.25rem;
  font-weight: 300;

  /* text-align: center; */
}
.album-div {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.albumexample > h1 {
  font-size: 40px;

  margin-top: 60px;
}
.btnexample {
  margin-bottom: 40px;
}
.fa-solid {
  color: white;
}
footer {
  background-color: white;
  /* height: 80px; */
  padding: 30px 0px;
  margin-bottom: 0%;
  display: flex;
  /* border: 2px solid black; */
}
.footer-div {
  /* margin: 30px 20px; */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 70px;
}
.footer-para {
  width: 50%;
  line-height: 25px;
  color: grey;

  font-size: 16px;
}

.btn-group {
  float: left;
}
.btn {
  border: 1px solid grey;
}
.span-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 1rem;
}
.btn-span {
  align-self: center;
  color: grey;
  font-size: 15px;
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  .card {
    flex-basis: 35%;
  }
}
@media screen and (min-width: 200px) and (max-width: 400px) {
  .card {
    flex-basis: 75%;
  }
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  .card {
    flex-basis: 45%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .card {
    flex-basis: 26%;
  }
}
